<h6>Table Component Directive</h6>

<div class="form-check">
  <label class="form-check-label">
     <input type="checkbox" [(ngModel)]="reverse" (change)="onreorder()"> Reverse
  </label>
</div>

<table class="table table-bordered table-striped">
  <thead>
     <tr>
       <th *ngFor="let header of columnHeaders">{{header}}</th>
     </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of DataSource" (click)="onSelectRow(row)">
      <td *ngFor="let header of columnHeaders">
         {{row[header]}}
      </td>
      <input type="button" value="Delete" class="btn btn-success" *ngIf="CanDelete" (click)="ondelete(row)">
    </tr>
  </tbody>
</table>
